@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@theme {
  --color-base-100: #0d0d0d;
  --color-base-200: #1a1a1a;
  --color-base-300: #262626;
  --color-base-400: #333333;
  --color-base-content: #ffffff;
  --color-base-content-secondary: #a0a0a0;
  /*  --color-base-100: #ffffff;
  --color-base-200: #f8f9fd;
  --color-base-300: #dfe5eb;
  --color-base-400: #cfd8e3;
  --color-base-content: #30313d;
  --color-base-content-secondary: #5c5b61; */
  /*   --color-primary: #a8ff60;
  --color-primary-content: #000000; */
  --color-primary: #e6533c;
  --color-primary-content: #ffffff;
  --color-accent: #1e90ff;
  --color-accent-content: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.outline-btn {
  @apply py-3 px-4 rounded-lg border-2 border-base-300 text-base-content w-full cursor-pointer text-base font-medium hover:bg-base-300 hover:text-base-content/90 transition-colors duration-200;
}

.primary-btn {
  @apply py-3 px-4 rounded-lg border-2 bg-primary border-primary text-primary-content w-full cursor-pointer text-base font-medium hover:bg-primary/80 transition-colors duration-200;
}

.secondary-btn {
  @apply py-3 px-4 rounded-lg border-2 bg-transparent border-primary text-primary w-full cursor-pointer text-base font-medium hover:bg-primary/90 hover:border-primary/90 hover:text-primary-content transition-colors duration-200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /*   background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
